wizard
data.db
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.local
/old2
*.log
_ide_*.php
.git/
.DS_Store
.phpstorm.meta.php
docker-compose/
storage/api-docs/*
storage/app/public/*
storage/debugbar/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*