/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    padding-left: 20px !important;
    text-align: center;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.btn:hover {
    transform: scale(1.1);
}

form {
    margin: 0;
}

/* Customize container */
@media (min-width: 768px) {
    .container-small {
        max-width: 960px;
    }

    .container-medium {
        max-width: 1140px;
    }
}


.wz-left-main * {
    box-sizing: initial;
}

.wz-left-main-full {
    display: none;
}

@media screen and (max-width: 992px) {
    .wz-left-main {
        display: none;
    }

    .wz-left-main-full {
        display: block;
    }

    .wz-left-main-full .wz-left-main-switch {
        width: 100%;
    }

    .wz-top-nav-search {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .wz-main-container-full {
        padding: 0 15px 15px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
    }

    .card {
        box-shadow: none;
    }

    .card .card-body,
    .col,
    .wz-project-main,
    .markdown-body {
        padding: 3px!important;
    }

    .opblock-summary-description,
    .wz-panel-separator,
    .wz-top-navbar h5 {
        display: none!important;
    }

    .wz-top-navbar {
        flex-direction: inherit!important;
        padding: 0 10px;
    }
    .wz-top-navbar .wz-top-nav-item {
        padding: 5px 0;
    }
    .wz-panel-breadcrumb .nav {
        float: left!important;
    }
}

@media screen and (max-width: 768px) {
    .wz-main-container-full {
        padding: 0;
    }

    .container {
        max-width: 98%;
        margin-left: 2%;
    }

    .wz-search-result-sign {
        display: none;
    }

    .wz-userface-small {
        display: none;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.wz-main-container {
    background: #f7f7f7;
}

.wz-main-container, .wz-main-container > div {
    padding-right: 0;
    padding-left: 0;
}

.wz-project-title {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
    position: relative;
}

.wz-project-title > .dropdown {
    position: absolute;
    top: 20px;
    right: 0;
    width: 145px;
    text-align: right;
}

.wz-project-title .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wz-box, .wz-box-disabled {
    height: 100px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.wz-box-new {
    background: #03a9f4;
    border: 1px solid #fff;
}

.wz-box-new p {
    color: #fff !important;
}

.wz-box-new:hover {
    background-color: #03a9f4ab !important;
}

.wz-box-catalog {
    /*background: #4caf50;*/
    /*border: 1px solid #fff;*/
    box-shadow: 5px 5px 3px #878787b3;
}


.wz-box-disabled {
    background: #fff;
}

.wz-box-tag {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ccc;
}

.wz-box-tag.pull-right {
    right: 8px;
}

.wz-box-tag.pull-left {
    right: auto;
    left: 8px;
}

.wz-box:hover {
    color: #333;
    background-color: #e6e6e6;
    transform: scale(1.1);
}

.wz-project-count {
    font-size: 12px;
    color: #ccc;
    bottom: 8px;
    top: auto;
}

.wz-page-count {
    display: none;
}

.wz-box-project:hover .wz-page-count {
    display: block;
    color: #7693c399;
    font-size: 12px;
    margin: -35px auto 0;
}

.wz-box-project:hover .wz-title {
    margin-top: 25px;
}

.wz-box-tag-star {
    color: #f1c40f;
}

.wz-box .wz-title, .wz-box-disabled .wz-title, .wz-page-count {
    margin: 36px auto;
    text-align: center;
    color: #777;
    font-weight: bold;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wz-nav-control {
    margin: 0 0 20px;
}

.wz-main-container-full {
    margin-top: 20px;
}

.wz-left-nav {
    padding-left: 20px;
    display: block;
}

.wz-left-nav li {
    list-style: none;
    clear: both;
}

.wz-left-nav a.wz-nav-fold {
    color: #ccc !important;
    margin-right: 0;
    padding-right: 4px !important;
    border: none !important;
    line-height: 0.9;
}

.wz-left-nav .wz-left-nav-home a > span {
    color: #ccc;
    padding-right: 4px;
}

.wz-left-nav li > a {
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 5px;
    /*font-size: 13px;*/
    line-height: 1.3;
    float: left;
}

.wz-left-nav li.active > a {
    color: #a94442;
    /*border-bottom: 2px solid #a94442;*/
    background: none;
    border-radius: 0;
    font-weight: bold;
}

.wz-left-nav li.active > a:hover {
    background: none !important;
    color: #a94442;
}

.wz-left-nav li > a:focus, .wz-left-nav li > a:hover {
    text-decoration: none;
    border-radius: 0;
    /*border-bottom: 2px solid #337ab7;*/
    background: none;
    color: #a94442;
}

.wz-left-nav ul {
    padding-left: 22px;
}

.wz-left-nav .wz-has-child > ul {
    clear: both;
}

.wz-panel-right {
    background: #fff;
}

.wz-panel-right > .panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wz-panel-right > .panel > .panel-heading {
    border-radius: 0;
}

.wz-nav-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
    display: inline-block;
}

.wz-nav-item-badge {
    position: absolute;
    right: 5px;
    top: 9px;
}

.wz-page-control {
    margin-bottom: 10px;
}

.wz-edit-control {
    margin-bottom: 15px;

    position: relative;
    border: 1px dashed #ccc;
    background: #f3f3f3;
    padding: 20px;
}

.wz-edit-btn-group {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.wz-page-title {
    font-size: 26px;
    display: inline-block;
    padding: 0;
    margin: 10px 0 0 10px;
}

#editormd, .dropzone > .SplitPane, .wz-document-swagger-sync-info {
    border: 1px dashed #159e92
}

.wz-document-swagger-sync-info {
    padding: 10px;
    margin: 10px;
}

.wz-document-swagger-sync-info p {
    margin: 0;
}

.markdown-body table {
    display: table !important;
}

.markdown-body .swagger-ui {
    margin-top: 20px;
}

.markdown-body .alert {
    border-radius: 2px;
}

.markdown-body .wz-todo {
    font-weight: bold;
    color: #0000ff;
}

.markdown-body .alert p {
    margin-bottom: 0;
}

.markdown-body h1 {
    font-size: 24px !important;
}

.markdown-body h2 {
    font-size: 22px !important;;
}

.markdown-body h3 {
    font-size: 20px !important;;
}

.markdown-body h4 {
    font-size: 18px !important;;
}

.markdown-body h5 {
    font-size: 16px !important;;
}

.markdown-body h6 {
    font-size: 15px !important;;
}

.markdown-body .editormd-tex {
    padding: 10px;
}

.markdown-body .katex {
    font-weight: bold;
    font-size: 1.2em!important;
}

.wz-page-content {
    margin-top: 20px;
}

.wz-input-long {
    min-width: 300px;
}

.wz-template-dialog {
    height: 175px;
    overflow-y: auto;
    padding: 10px;
}

.wz-template-dialog .radio {
    display: block;
    line-height: 1.6;
}

/* 解决markdown编辑器全屏时页面中的input框在编辑器之上的问题 */
.editormd-fullscreen {
    z-index: 10;
}

.wz-compare-container .CodeMirror {
    height: 100% !important;
}

.wz-compare-container .mergely-column {
    height: auto !important;
}

.wz-full-box {
    margin: 20px 5px;
}

.wz-compare-box .wz-compare-title {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.wz-pagination {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
}

.layui-layer-msg {
    margin-top: 10px !important;
}

.wz-differ-box {
    padding: 20px 10px;
    border: 1px solid #ccc;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: -5px 5px 6px #e5e5e5;
    width: 100%;
}

.wz-differ-box div {
    line-height: 1.5;
    font-size: 13px;
    display: block;
    margin: 0;
    padding: 0 0.5em;
    border: none;
}

.wz-differ-box tr:hover {
    background: #fffaf1;
}

.wz-differ-box td pre {
    display: inline;
    padding: 0;
    margin: 0;
    padding-left: 5px;
    background: none;
    color: inherit;
    line-height: inherit;
    border-radius: initial;
    border: none;
}

.wz-differ-box .line-sign {
    width: 25px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    text-align: center;
}

.wz-differ-box .differ-added {
    background: rgb(224, 255, 224);
}

.wz-differ-box .differ-removed {
    background: rgb(255, 224, 224);
}

.wz-comments-box {
    clear: both;
}

.wz-comments-box ol {
    padding-left: 8px;
}

.wz-comments-box .wz-comment-date {
    color: #a2a2a2;
    margin-left: 15px;
}

.wz-comments-box .wz-comment-box {
    margin-bottom: 8px;
    color: #777;
    clear: both;

    border: 1px solid #d1d5da;
    padding: 8px;
    border-radius: 4px;
}

.wz-comments-box .wz-comment-box .wz-comment-header {
    font-size: 14px;
    border-bottom: 1px solid #d1d5da;
    margin: -7px -8px 6px;
    padding: 8px;
    color: #586069;
    background-color: #f6f8fa;
}

.wz-attachments ol li {
    line-height: 2;
}

.wz-upload-box {
    width: 500px;
    padding: 0 20px;
}

.SplitPane.vertical {
    box-shadow: 3px 0px 11px rgba(0, 0, 0, .2);
}

.wz-message-table td {
    position: relative;
}

.wz-message-table td:hover .wz-message-read {
    display: block !important;
    position: absolute;
    right: 8px;
    top: 8px;
}

.wz-comment-highlight {
    -webkit-animation: twinkling 0.6s 3 ease-in-out;
    animation: twinkling 0.6s 3 ease-in-out;
}

.wz-markdown-style-fix table th {
    background: #009688;
    color: #fff;
}

.wz-markdown-style-fix img {
    max-width: 99%;
    /*box-shadow: 3px 3px 7px #ccc;*/
}

.wz-text-dashed {
    border-bottom: 1px dashed;
    padding-bottom: 3px;
}

.wz-group-allowed-list, .wz-recently-log {
    margin-top: 20px;
}

.wz-recently-log li {
    line-height: 1.6;
    list-style: none;
}

.wz-recently-log .wz-date {
    font-weight: bold;
}

/* 消息数量提示气泡 */
.wz-message-tip {
    font-weight: bold;
    border: 1px solid #f00;
    padding: 2px 5px;
    border-radius: 56px;
    color: #fff;
    background: #f00;
}

@-webkit-keyframes twinkling {
    0% {
    }
    100% {
        background: #f0ad4e;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.wz-document-header {
    padding-left: 10px;
    color: #888;
}

.wz-dropdown-menu-left {
    right: 0;
    left: auto;
}

.wz-editor-header-toolbar .wz-panel-breadcrumb {
    box-shadow: none;
}

.wz-panel-breadcrumb {
    padding: 10px 15px 0;
    background: #f7f7f7;
}

.wz-project-main {
    padding: 0 15px 10px;
    padding-left: 20px;
    padding-top: 15px;
}

.wz-panel-breadcrumb .breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: .75rem 0rem;
}

#wz-toc-container {
    position: fixed;
    right: 40px;
    top: 20px;
    z-index: 9999;
}

#wz-toc-container ul {
    padding-left: 20px;
}

#wz-toc-container li {
    list-style: none;
}

#wz-toc-container > span {
    display: block;
    opacity: 0.5;
}

#wz-toc-container > ul {
    display: none;
}

#wz-toc-container:hover {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

#wz-toc-container:hover > span {
    display: none;
}

#wz-toc-container:hover > ul {
    margin-left: -10px;
    display: block;
}

.wz-panel-limit {
    max-width: 1100px;
}

.layui-layer-btn .layui-layer-btn0, .layui-layer-btn .layui-layer-btn1, .layui-layer-btn .layui-layer-btn2 {
    color: #fff !important;
    background-color: #009688;
    border-color: #009688;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: relative;
    font-size: .875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow, transform;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .46875rem 1rem;
    line-height: 1.5;
    border-radius: .125rem;
    height: auto;
}

.layui-layer-btn .layui-layer-btn1 {
    color: rgba(0, 0, 0, .87) !important;
    background-color: transparent;
    border-color: #ccc;
}

.layui-layer-btn .layui-layer-btn2 {
    background: #4caf50;
    border-color: #ccc;
}

.wz-userface-small {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 10px;
}

.card {
    font-size: .93rem;
}

.swagger-ui .col {
    width: auto;
}

.card .card-header .card-header-title {
    float: left;
}

.card .card-header .card-header-operation .bmd-form-group.bmd-collapse-inline,
.card .card-header .card-header-operation .btn.bmd-btn-icon,
.card .card-header .card-header-operation .custom-file-control, .form-control {
    min-height: auto;
    height: auto;
    padding: auto;
}

.search-btn {
    cursor: pointer;
}

.search-panel .bmd-form-group {
    width: 70%;
    margin: auto;
    margin-top: -30px;
}

tr.warning {
    background: #e9efec;
}


.wz-comment-editor-box {
    display: flex;
}

.wz-comment-editor {
    width: 100%;
    border: 1px solid #d1d5da;
    border-radius: 2px;
}

.wz-comment-editor .wz-comment-editor-header .wz-comment-editor-write {
    background: #fff;
    padding: 9px 17px 4px;
    margin-top: -5px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d1d5da;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.wz-comment-editor .wz-comment-editor-header .wz-comment-editor-readonly {
    background-color: transparent;
    border: none;
}

.wz-comment-editor .wz-comment-editor-header {
    width: 100%;
    height: 42px;
    background-color: #f6f8fa;
    padding: 10px;
    border-bottom: 1px solid #d1d5da;
}

.wz-comment-editor .wz-comment-editor-body {
    padding: 7px;
}

.wz-comment-editor .wz-comment-editor-body textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px dashed #d1d5da;
    height: 150px;
    background-color: #fafbfc;
    padding: 10px;
}

.wz-comment-editor .wz-comment-editor-body textarea:focus {
    background-color: #fff;
    outline: none;
    border: 1px solid #d1d5da;
}

.wz-comment-editor .wz-comment-editor-footer {
    margin-right: 7px;
    margin-bottom: 10px;
}

.wz-comment-editor .wz-comment-editor-tip {
    margin-left: 11px;
    color: #6b6b6b;
}

.wz-comment-tip {
    display: none;
    position: absolute;
    top: -52px;
    border-radius: 4px;
    margin-left: 41px;
}


.wz-tag-container {
    padding-left: 10px;
}

.wz-tag-container .wz-tags {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
    position: relative;
    max-width: 960px;
}

.wz-tag-container .tm-input {
    border: none;
    vertical-align: middle;
    height: 30px;
    margin: 0 5px 5px 0;
    padding: 4px;
    color: #638421;
}

.wz-tag-container input.tm-input:focus {
    background-color: #cde69c;
    border: #a5d24a 1px solid;
    /*box-shadow: 4px 2px 10px #b9b9b9;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 3px;
}

.wz-tag-container .tm-tag {
    padding-left: 10px
}

.wz-tag-container .tm-tag > span {
    cursor: pointer;
}

.wz-tag-container .tm-tag .tm-tag-remove {
    opacity: 0;
}

.wz-tag-container .tm-tag:hover .tm-tag-remove {
    opacity: 1;
}

.wz-tag-container .tm-tag-disabled {
    color: #848484 !important;
    padding-right: 10px;
    background-color: #fff;
}

/* 隐藏swagger编辑器的标题部分 */
.swagger-container .info .main, .swagger-ui .info .main {
    display: none;
}

.swagger-ui table thead tr td, .swagger-ui table thead tr th,
.swagger-ui .model,
.swagger-ui .response-col_description__inner div.markdown,
.swagger-ui .response-col_description__inner div.renderedMarkdown {
    font-size: 14px !important;
}

.swagger-ui .opblock .opblock-summary-description,
.swagger-ui .info li, .swagger-ui .info p, .swagger-ui .info table {
    font-size: 16px !important;
}

.swagger-ui .opblock-tag {
    font-size: 20px !important;
}

.swagger-ui .opblock-tag small {
    font-size: 16px !important;
}

.swagger-ui .opblock-tag .markdown p {
    margin: auto !important;
    color: #bdbdbd;
}

.swagger-ui .wrapper {
    padding: 0 !important;
}

.swagger-ui .scheme-container, .swagger-ui .global-server-container {
    margin: 0 15px 22px !important;
    padding: 30px 20px !important;
    -webkit-box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
    -moz-box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
    box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
    border-radius: 5px !important;
}

.swagger-ui .opblock {
    -webkit-box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
    -moz-box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
    box-shadow: -3px 6px 10px -2px rgba(0, 0, 0, .15) !important;
}

.swagger-editor-body {
    min-height: 800px;
}

.swagger-editor-body .swagger-editor-content {
    position: absolute !important;
    width: 100% !important;
    left: 0 !important;
    min-height: 800px;
}

.swagger-ui .info {
    margin: 20px 0 !important;
}

.swagger-editor-toolbar {
    height: 61px;
    position: relative;
    width: 100%;
}

.swagger-editor-toolbar .btn-toolbar-left {
    position: absolute;
    left: 0;
    top: 0;
}

.swagger-editor-toolbar .btn-toolbar-right {
    position: absolute;
    right: 0;
    top: 0;
}

.swagger-ui .opblock .opblock-summary-description {
    min-width: 200px;
}

.swagger-fullscreen {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swagger-fullscreen .swagger-editor-toolbar {
    margin: 0;
}

.wz-plain-textarea {
    line-height: 1.5 !important;
    background: #f5f5f5;
    padding: 11px;
    border-radius: 5px;
}

.wz-plain-textarea:focus {
    background: #d6d6d6;
}

.wz-swagger-template {
    max-height: 300px;
    overflow-y: auto;
}


/* 搜索结果页，文档类型图标效果 */
.wz-search-result {
    position: relative;
}

.wz-search-result .wz-search-result-sign {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
}

/* vis 统计图 */
.vis-timeline {
    border: none;
}

.wz-editor-header {
    margin-left: 0;
    margin-right: 0;
}

.wz-table-float {
    position: fixed;
    top: 50px;
    right: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    z-index: 10;
    overflow-y: auto;
}

.control-area button {
    float: right;
    margin-left: 5px;
}


.wz-nav-editor {
    padding: 10px;
    border-left: 7px solid #ccc;
}

.wz-nav-editor input {
    width: 80px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-right: 10px;
}

.wz-nav-editor ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.wz-nav-editor .wz-nav-editor-line {
    padding: 5px 0;
}

.wz-sort-level-changed {
    background: #76ff454a;
    border-color: #28842c !important;
}

.wz-modified-sign {
    color: #f00;
    display: none;
}

.wz-control > a {
    margin-left: 10px;
}

.wz-control {
    float: right;
}

.wz-control > a.wz-control-up {
    color: #f00;
}

.wz-control > a.wz-control-down {
    color: #000000;
}

.wz-nav-editor-line:first-child > .wz-control > a.wz-control-up {
    display: none;
}

.wz-nav-editor-line:last-child > .wz-control > a.wz-control-down {
    visibility: hidden;
}

li.wz-nav-editor-line:hover > a, li.wz-nav-editor-line:hover > .wz-control {
    border-bottom: 1px solid #f00;
}

.swagger-ui .opblock-body .model-box {
    display: block !important;
}

pre.prettyprint {
    border: 1px solid #f1f1f1 !important;
    background: #ffffff !important;
}

/*.wz-comment-editor, .wz-comment-box, pre.prettyprint, tbody, thead {*/
/*-webkit-box-shadow: 4px 4px 4px #f1f1f1;*/
/*-moz-box-shadow: 4px 4px 4px #f1f1f1;*/
/*box-shadow: 4px 4px 4px #f1f1f1;*/
/*}*/

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #f1f1f14f !important;
}

.wz-select-card-title {
    border: none;
    background: inherit;
}


.wz-document-form {
    max-width: 80%;
}

.wz-document-form .form-group {
    float: left;
    width: 40%;
    margin-right: 30px;
}

.wz-document-form .wz-document-form-select {
    width: 90%;
}

.wz-document-form .wz-document-form-select select {
    max-width: 300px;
}

/* 顶部搜索 */
.wz-top-nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wz-top-nav-search {
    padding: 0.5rem;
}

.wz-top-nav-search input {
    padding: 8px;
    border-radius: .1rem .1rem 0 0;
    background: rgba(202, 202, 202, 0.33);
    color: #868686;
    text-overflow: clip;
    border: 0;
    outline: none;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 12rem;
}

.wz-top-nav-search input:hover,
.wz-top-nav-search input:focus {
    background: #fbfbfb;
    width: 30rem;
}

.markdown-body .card {
    border-radius: 4px;
    margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: none!important;
}

.markdown-body h1>.fa,
.markdown-body h2>.fa {
    color: #eaeaeae8;
}

/*.markdown-body blockquote {*/
/*    border: none!important;*/
/*}*/
/*.markdown-body blockquote>p {*/
/*    text-indent: 2em;*/
/*}*/

.markdown-body pre.prettyprint {
    border: 1px dashed #ddd!important;
}
.markdown-body pre.prettyprint li {
    border-left: 1px dashed #ccc;
    padding-left: 10px;
}
.markdown-body pre.prettyprint:hover {
    border: 1px solid #ddd!important;
}
.markdown-body code {
    border: none!important;
    background: #f8f8f8;
}

pre.prettyprint *,
.cm-comment {
    font-family: 'Courier New', Courier, monospace, "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica;
}

.wz-beta {
    color: #0080ff70;
    margin-left: 5px;
    font-weight: bold;
}

.wz-version-suggest {
    display: none;
}

.wz-version-suggest-items {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 14px;
    line-height: 1.5;
}

.wz-version-suggest-items li {
    list-style: none;
    padding: 5px;
}

.markdown-body .wz-sql-create {
    /*border: 1px dashed #e6e6e6;*/
    box-shadow: none;
}

.markdown-body .wz-sql-create pre.prettyprint {
    border: none!important;
    margin-bottom: 0;
}

.markdown-body .wz-sql-create .tab-content .wz-sql-table {
    padding: 10px;
}

.markdown-body .wz-sql-create .nav {
    border-bottom: 1px dashed #4caf50;
}

.markdown-body .wz-sql-create .nav-tabs .nav-item.show .nav-link,
.markdown-body .wz-sql-create .nav-tabs .nav-link.active {
    border-color: #dee2e6 #dee2e6 #4caf50
}

.wz-tag-input {
    outline: none;
}

.wz-panel-separator {
    width: 15px;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    height: 90%;
    top: 58px;
    border-radius: 0 0 2em 0;
}

.wz-panel-separator:hover {
    box-shadow: 12px 7px 9px 0px rgba(0, 0, 0, 0.15);
    z-index: 99;
    background: #f7f7f7;
    transform: none;
}

.wz-editor-header .wz-editor-header-toolbar {
    padding: 0;
    margin-left: -14px;
    margin-top: -17px;
    line-height: 1;
    margin-bottom: 7px;
}

.markdown-body .wz-card-frame {
    box-shadow: none;
    /*border: 1px dashed #ccc;*/
}

.markdown-body .wz-card-frame iframe {
    overflow: hidden;
}

.markdown-body .wz-card-frame .card-header > div {
    margin-bottom: -8px;
    margin-top: -6px;
}

.markdown-body .wz-card-frame .card-header .card-header-tool {
    float: right;
}

.markdown-body .wz-card-frame .card-body {
    padding: 0;
}

.markdown-body .wz-card-frame .card-header .card-header-title,
.markdown-body .wz-card-frame .card-header .card-header-tool .bmd-btn-icon {
    line-height: 1.8;
}

.wz-new-project-box {
    margin: 0;
    padding: 0;
}
.wz-new-project-box  .wz-new-project-btn {
    display: block;
    color: #b8b8b8;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}
.wz-new-project-box .wz-new-project-btn:hover {
    background: #eaeaea;
    color: #545454;
}

.viewer-container img {
    background: url(/assets/white-bg.jpg);
    background-size: 30px 30px;
}

.wz-score-box {
    margin: 10px 0;
    padding-top: 20px;
}
.wz-score-box .wz-score-opt {
    display: inline-block;
    margin-right: 30px;
}
.wz-score-box .wz-score-opt p,
.wz-score-box .wz-score-useful-users {
    color: #989898;
    font-size: 90%;
}
.wz-score-box .wz-score-useful-users .wz-score-user {
    border-bottom: 1px dashed #cccccc;
}

.wz-impersonating {
    border-top: 3px solid red;
}

.doc-outdated {
    color: #808080;
}

.form-document-import {
    border: 1px dashed #ccc;
    padding: 10px;
    background: #fdfdfd;
}